.p10 {
  border-radius: 10%; }

.p20 {
  border-radius: 20%; }

.p30 {
  border-radius: 30%; }

.p40 {
  border-radius: 40%; }

.p50 {
  border-radius: 50%; }

.p60 {
  border-radius: 60%; }

.p70 {
  border-radius: 70%; }

.p80 {
  border-radius: 80%; }

.p90 {
  border-radius: 90%; }

.p100 {
  border-radius: 100%; }

.headerGutter, .resumeLayout .h1Properties, .resumeLayout div.header h1, .resumeLayout .skills h1, .resumeLayout .experience h1, .resumeLayout .education h1, .resumeLayout div.header p {
  margin-left: 1.25%;
  margin-right: 1.25%; }

.tooltip {
  position: relative;
  display: block; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1000000;
  bottom: 105%;
  left: 50%;
  margin-left: -60px; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

@font-face {
  font-family: Adam;
  src: url("fonts/adam.otf") format("woff"), url("fonts/adam.otf") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Recoleta;
  src: url("fonts/RecoletaSansSt.ttf") format("ttf");
  font-weight: 800;
  font-style: normal; }

body {
  font-size: 20px; }

.resumeLayout {
  font-family: Roleta;
  line-height: 1.5em;
  margin-left: 22%;
  margin-right: 22%; }
  .resumeLayout .h1Properties, .resumeLayout div.header h1, .resumeLayout .skills h1, .resumeLayout .experience h1, .resumeLayout .education h1 {
    font-family: Adam;
    color: #3945e0;
    float: left;
    font-size: 1.75em;
    line-height: 1.15em;
    margin-bottom: .3em;
    margin-top: 2.75rem; }
  .resumeLayout .top {
    margin-top: 3em; }
    .resumeLayout .top img {
      margin-top: 3em;
      margin: auto;
      display: block;
      max-width: 100%;
      height: auto;
      width: auto; }
  .resumeLayout div.header {
    margin-top: 1rem;
    overflow: hidden; }
    .resumeLayout div.header a {
      display: relative;
      width: 100%; }
    .resumeLayout div.header h1 {
      margin-top: 1em; }
    .resumeLayout div.header p {
      color: #d61d1d;
      float: left;
      font-size: 1.15em;
      line-height: 1.5em;
      margin-top: 0px;
      margin-bottom: 0px; }
    .resumeLayout div.header h1, .resumeLayout div.header p {
      width: 100%; }
  .resumeLayout .skills h1 {
    float: none; }
  .resumeLayout .skills img {
    display: block;
    height: 4.5rem;
    max-width: 3rem;
    width: auto;
    margin: auto; }
  .resumeLayout .skills ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    white-space: nowrap; }
    .resumeLayout .skills ul li {
      display: inline-block;
      margin: .5rem 1rem;
      vertical-align: middle; }
  .resumeLayout .experience h1 {
    float: none; }
  .resumeLayout .experience small i {
    margin-bottom: 1em;
    color: orange; }
  .resumeLayout .experience details summary {
    cursor: pointer;
    color: #c54f4f; }
  .resumeLayout .experience details li {
    font-size: .8em;
    font-family: "Courier New", Courier, monospace;
    font-style: oblique; }
  .resumeLayout .experience summary::-webkit-details-marker {
    display: none; }
  .resumeLayout .experience summary:before {
    display: inline-block;
    content: "+";
    font-weight: bold;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    cursor: pointer; }
  .resumeLayout .education h1 {
    float: none; }

@media (max-width: 767px) {
  .resumeLayout {
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.85em;
    font-size: .8 rem; } }
