@import 'util';

@font-face {
    font-family: Adam;
    src: url("fonts/adam.otf") format("woff"),url("fonts/adam.otf") format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Recoleta;
    src: url("fonts/RecoletaSansSt.ttf") format("ttf");
    font-weight: 800;
    font-style: normal;
}

body {
    font-size: 20px;
}

.resumeLayout {
    line-height: 1.5em;
    margin-left: 25%;
    margin-right: 25%;

    .h1Properties {
        font-family: Adam;
        color: #3945e0;
        float: left;
        font-size: 1.75em;
        line-height: 1.15em;
        margin-bottom: .3em;
        margin-top: 2.75rem;
        @extend .headerGutter;
    }

    .top {
        margin-top: 3em;

        img {
            margin-top:3em;
            margin: auto;
            display: block;
            max-width: 100%;
            height: auto;
            width: auto;
        }
    }


    div.header {
        margin-top: 1rem;
        overflow: hidden;

        a{
            display: relative;
            width: 100%;
        }

        h1 {
            @extend .h1Properties;
            margin-top: 1em;
        }

        p {
            font-family: Recoleta;
            color: #d61d1d;
            float: left;
            font-size: 1.15em;
            line-height: 1.5em;
            margin-top: 0px;
            margin-bottom: 0px;
            @extend .headerGutter;
        }

        h1, p {
            width: 100%;
        }
    }

    .skills {
        font-family: Roleta;

        h1 {
            @extend .h1Properties;
            float: none;
        }

        img {
            display: block;
            height: 4.5rem;
            max-width: 3rem;
            width: auto;
            margin: auto;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            white-space: nowrap;

            li {
                display: inline-block;
                margin: .5rem 1rem;
                vertical-align: middle;
            }
        }
    }

    .experience {
        font-family: Roleta;

        h1 {
            @extend .h1Properties;
            float: none;
        }

        small i {
            margin-bottom: 1em;
            color: orange;
        }

        summary::-webkit-details-marker {
            display: none;
        }

        summary:before {
            content: "+";
            font-weight: bold;
            margin: 3px;
            cursor: pointer;
        }
    }

    .education {
        font-family: Roleta;

        h1 {
            @extend .h1Properties;
            float: none;
        }
    }

}

@media  (max-width: 767px) {
    .resumeLayout{
        margin-left: 5%;
        margin-right: 5%;
        line-height: 1.85em;
        font-size: .8 rem;
    }

}

